extends /_includes/layout

block title
    title Добавление и нарезка видео для игроков — YSA
    meta(name='description', content="Добавление и нарезка видео для игроков в платформе YSA")

block content
    +navbar.-fixed

    .ysa-wrap#wrap-main(data-controller="articleController")
        .ysa-navbar-outer

            .ysa-tophead
                .ysa-tophead-wrap
                    .ysa-tophead-container
                        .ysa-tophead-grid
                            .ysa-tophead-grid-left
                                .ysa-tophead-nav
                                    .ysa-tophead-nav-back.-top(data-aos="fade-left")
                                        a.ysa-btn.ysa-btn_back(href="/player/")
                                            span.ysa-btn_back-ring
                                            span.ysa-btn_back-shape
                                                svg(viewBox="0 0 43 38" style="enable-background:new 0 0 43 38;")
                                                    path(d='M32.9,19 L32.9,0.1,16.5,9.5,0.1,19,16.5,28.5,32.9,37.9,32.9,19z')
                                            span.ysa-btn_back-arr
                                                svg(viewBox="0 0 18 12" style="enable-background:new 0 0 18 12;")
                                                    path(d='M7.9,11.6 L0.7,5.8,7.9,0.4,9.1,1.9,3.9,5.9,9.1,10.1,7.9,11.6z')
                                                    path(d='M17,5.3 v1.4 h-13.9 v-1.4 h13.9z')
                                    .ysa-tophead-nav-title.-sm(data-aos="fade-left", data-aos-delay="200")
                                        h1 Добавление и нарезка видео
                            .ysa-tophead-grid-right
                                .ysa-tophead-num &nbsp;

            .ysa-container

                .ysa-brief
                    .ysa-brief-container
                        .ysa-brief-img(data-aos="fade-down")
                            a(href="/assets/img/player/extra/3@2x.png", data-fancybox="gallery"): img(src="/assets/img/player/extra/3.png", srcset="/assets/img/player/extra/3@2x.png 2x", alt)
                        .ysa-brief-text(data-aos="fade-up")
                            p Раньше игроков искали и отбирали вслепую, по одной статистике. Поэтому и тренеры, и скауты, и сами игроки тратили массу времени впустую на нерезультативные просмотры. Видео в профайле дает возможность наглядно оценить, на что способен хоккеист, каков он в игре, в чем он силен и над чем нужно работать. Инструменты для работы с видео позволяют удобно и быстро нарезать запись игры на моменты, определить тип игрового момента и добавить его в профиль.
                            p Снимайте одно видео на две команды. Больше не нужно снимать одну игру в десять камер. Как только один из участников игры загрузит  видео, всем остальным придет уведомление, включая и команду-соперника. Каждый игрок сможет разметить свои моменты и добавить их к себе в профайл.
                            p Загружайте видео, начиная с 10 лет. Ценность ресурса в том числе и  в том, что он дает возможность оценить развитие игрока, начиная с детской лиги до лиг мирового уровня. Если у вас нет времени работать над своей видеоисторией, мы можем заняться этим сами.
                            p Правильно размечайте моменты. Отмечайте тип момента: силовая игра, игра  в тройке, в двойке, дриблинг, гол, игра в большинстве и так далее. Ваши моменты будут оценивать агенты, клубы, тренеры и скауты. Они смогут составить рейтинг игроков по разным типам моментов и отбирать по этим рейтингам.
                            p Просматривайте свои предыдущие видео. Для игрока профайл – не только профессиональная визитная карточка, но и возможность оценивать себя, работать над своей игрой, вместе со своим тренером и самостоятельно. Также полезно, готовясь к встрече с соперником, посмотреть видео их игры.

                +footer