extends /_includes/layout

block title
    title Отслеживание статистики игрока — YSA
    meta(name='description', content="Отслеживание статистики игрока в платформе YSA")

block content
    +navbar.-fixed

    .ysa-wrap#wrap-main(data-controller="articleController")
        .ysa-navbar-outer

            .ysa-tophead
                .ysa-tophead-wrap
                    .ysa-tophead-container
                        .ysa-tophead-grid
                            .ysa-tophead-grid-left
                                .ysa-tophead-nav
                                    .ysa-tophead-nav-back.-top(data-aos="fade-left")
                                        a.ysa-btn.ysa-btn_back(href="/player/")
                                            span.ysa-btn_back-ring
                                            span.ysa-btn_back-shape
                                                svg(viewBox="0 0 43 38" style="enable-background:new 0 0 43 38;")
                                                    path(d='M32.9,19 L32.9,0.1,16.5,9.5,0.1,19,16.5,28.5,32.9,37.9,32.9,19z')
                                            span.ysa-btn_back-arr
                                                svg(viewBox="0 0 18 12" style="enable-background:new 0 0 18 12;")
                                                    path(d='M7.9,11.6 L0.7,5.8,7.9,0.4,9.1,1.9,3.9,5.9,9.1,10.1,7.9,11.6z')
                                                    path(d='M17,5.3 v1.4 h-13.9 v-1.4 h13.9z')
                                    .ysa-tophead-nav-title.-sm(data-aos="fade-left", data-aos-delay="200")
                                        h1 Отслеживать свою статистику
                            .ysa-tophead-grid-right
                                .ysa-tophead-num &nbsp;

            .ysa-container

                .ysa-brief
                    .ysa-brief-container
                        .ysa-brief-img(data-aos="fade-down")
                            a(href="/assets/img/player/extra/5@2x.png", data-fancybox="gallery"): img(src="/assets/img/player/extra/5.png", srcset="/assets/img/player/extra/5@2x.png 2x", alt)
                        .ysa-brief-text(data-aos="fade-up")
                            p После регистрации в профиль игрока начинает автоматически подгружаться статистика. Она представлена в виде таблиц и графических материалов. Профиль игрока содержит информацию об общем рейтинге и рейтинге по разным типам игры, а также статистику по каждой конкретной игре. История статистики позволяет отслеживать изменения и оценивать прогресс игрока.
                            p Работайте над игрой.  Динамика статистики и выставляемых игроку оценок – полезный инструмент как для самого хоккеиста, так и для его тренера. Показательны изменения статистики для тех моментов, когда игрок попадает в новые для себя условия – меняет позицию в игре, тренера или команду.
                            p Покажите прогресс. Скауты, клубы, агенты и тренеры увидят не только вашу текущую статистику и  положение в рейтинге, но и их динамику. Игрок, который очевидно растет, может быть интереснее стабильного с более высоким рейтингом.
                            p Подгружайте видео своих игр.  Одна статистика не может дать полную картину  – насколько сильным соперник, как проходило судейство и прочее – но все это можно увидеть на видео. Размечайте не только удачные моменты, но и слабые. Тренера, скауты, клубы или агенты смогут честно оценить уровень игры, а игрок будет видеть, где он совершает ошибки и над чем ему еще нужно поработать. Тогда ваше игровое видео будет не только дополнять статистические данные, но и объяснять их.

                +footer