extends /_includes/layout

block title
    title Отправка портфолио агентам для игроков — YSA
    meta(name='description', content="Отправка портфолио агентам для игроков в платформе YSA")

block content
    +navbar.-fixed

    .ysa-wrap#wrap-main(data-controller="articleController")
        .ysa-navbar-outer

            .ysa-tophead
                .ysa-tophead-wrap
                    .ysa-tophead-container
                        .ysa-tophead-grid
                            .ysa-tophead-grid-left
                                .ysa-tophead-nav
                                    .ysa-tophead-nav-back.-top(data-aos="fade-left")
                                        a.ysa-btn.ysa-btn_back(href="/player/")
                                            span.ysa-btn_back-ring
                                            span.ysa-btn_back-shape
                                                svg(viewBox="0 0 43 38" style="enable-background:new 0 0 43 38;")
                                                    path(d='M32.9,19 L32.9,0.1,16.5,9.5,0.1,19,16.5,28.5,32.9,37.9,32.9,19z')
                                            span.ysa-btn_back-arr
                                                svg(viewBox="0 0 18 12" style="enable-background:new 0 0 18 12;")
                                                    path(d='M7.9,11.6 L0.7,5.8,7.9,0.4,9.1,1.9,3.9,5.9,9.1,10.1,7.9,11.6z')
                                                    path(d='M17,5.3 v1.4 h-13.9 v-1.4 h13.9z')
                                    .ysa-tophead-nav-title.-sm(data-aos="fade-left", data-aos-delay="200")
                                        h1 Отправлять портфолио агентам
                            .ysa-tophead-grid-right
                                .ysa-tophead-num &nbsp;

            .ysa-container

                .ysa-brief
                    .ysa-brief-container
                        .ysa-brief-img(data-aos="fade-down")
                            a(href="/assets/img/player/extra/4@2x.png", data-fancybox="gallery"): img(src="/assets/img/player/extra/4.png", srcset="/assets/img/player/extra/4@2x.png 2x", alt)
                        .ysa-brief-text(data-aos="fade-up")
                            p Найти и заинтересовать хорошего агента в реальной жизни нелегко. Не у всех есть нужные знакомства и дар убеждения. На нашем ресурсе у игрока есть возможность отправить заявку агенту. Общение сразу будет предметным и вы сможете наглядно продемонстрировать все навыки и возможности для развития.

                            p YourSportAgent не оказывает агентских услуг! Мы не занимаемся продвижением игроков. Мы создали, разработали и развиваем профессиональный инструмент, который вы используете самостоятельно. Мы лишь помогаем в этом.
                            p Оценивайте агента так же, как он оценивает вас. Если игрок хочет обратиться к определенному агенту или ему поступило предложение, он сможет изучить профайл агента и сделать выводы о перспективах сотрудничества.
                            p Сократите до минимума количество ненужных встреч, поездок и переговоров. Если игрок живет в провинции и хочет найти агента в столице, это не значит, что ему придется собирать чемоданы и ехать за тысячи километров. Все предварительные переговоры можно провести удаленно, избавив себя как от лишних затрат, так и от разочарований.

                +footer