.ysa-btn {
    $root: &;

    &_open {
        $this: &;

        position: relative;
        display: inline-block;
        padding: 0;
        margin: 0;

        border: 0;
        background: none;
        outline: 0;
        line-height: 1;

        &-ring {
            display: block;
            width: 55px;
            height: 55px;
            margin: -2px 0 0 0;

            border: 1px rgba($color-base, 0.2) solid;
            border-radius: 50%;

            @media (min-width: $screen-md-min) {
                width: 98px;
                height: 98px;
            }

            @media (min-width: $screen-lg-min) {
                width: 122px;
                height: 122px;
            }
        }

        &-text {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            transform: translate(-37%, -50%);
            transform-origin: center center;

            backface-visibility: hidden;

            //opacity:0;
            font-size: 13px;
            font-weight: bold;
            letter-spacing: 0.35px;
            text-transform: uppercase;

            transition: all 0.3s;
        }

        //&-arr {
        //    position:absolute;
        //    display:inline-block;
        //    top:50%;
        //    left:50%;
        //    z-index:2;
        //    transform:translate(-50%, -50%);
        //    transform-origin:center center;
        //
        //    font-size:11px;
        //
        //    transition:all 0.3s 0.2s;
        //
        //    @media (min-width:$screen-md-min) {
        //        font-size:19px;
        //    }
        //
        //    @media (min-width:$screen-lg-min) {
        //        font-size:24px;
        //    }
        //
        //    svg {
        //        display:inline-block;
        //        vertical-align:top;
        //    }
        //}

        &-shape {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;

            svg {
                width: 77px;
                height: 66px;

                transition: transform 0.4s;

                @media (min-width: $screen-md-min) {
                    width: 137px;
                    height: 117px;
                }

                @media (min-width: $screen-lg-min) {
                    width: 169px;
                    height: 145px;
                }

                path {
                    fill: $color-base;
                }
            }
        }

        &:hover {
            #{$this} {
                &-text {
                    @media (min-width: $screen-md-min) {
                        opacity: 1;
                        transform: translate(-50%, -50%);
                    }
                }

                &-arr {
                    @media (min-width: $screen-md-min) {
                        opacity: 0;
                        transform: translate(-50%, -50%) rotate(45deg);
                        transition-delay: 0s;
                    }
                }

                &-shape {
                    svg {
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }

    &_back {
        $this: &;

        position: relative;
        display: inline-block;
        padding: 0;
        margin: 0;

        border: 0;
        background: none;
        outline: 0;
        line-height: 1;

        &-ring {
            display: block;
            width: 32px;
            height: 32px;

            border: 1px rgba($color-text, 0.1) solid;
            border-radius: 50%;

            @media (min-width: $screen-sm-min) {
                width: 58px;
                height: 58px;
            }
        }

        &-arr {
            position: absolute;
            display: inline-block;
            top: 50%;
            left: 50%;
            z-index: 2;

            transform: translate(-50%, -50%);

            svg {
                height: 8px;
                vertical-align: middle;

                @media (min-width: $screen-sm-min) {
                    height: 12px;
                }

                path {
                    fill: $color-base;
                    transition: all 0.2s;
                }
            }
        }

        &-shape {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);

            svg {
                height: 33px;
                vertical-align: middle;
                transform-origin: center center;
                transition: all 0.2s;

                @media (min-width: $screen-sm-min) {
                    height: 68px;
                }
            }
        }

        &:hover {
            #{$this} {
                &-shape {
                    svg {
                        transform: rotate(-45deg);
                    }
                }

                &-arr {
                    svg {
                        path:first-child {
                            transform: translateX(4px);
                        }

                        path:last-child {
                            opacity: 0;
                            transform: scaleX(0);
                        }
                    }
                }
            }
        }
    }

    &_flat {
        position: relative;
        display: inline-block;
        height: 56px;
        margin: 0;
        padding: 0 28px;
        text-align: center;

        color: $color-base;
        background: $color-text;
        border: 0;
        outline: none;

        font-size: 14px;
        letter-spacing: 0.37px;
        font-weight: bold;
        line-height: 56px;
        text-transform: uppercase;

        @media (min-width: $screen-sm-min) {
            font-size: 18px;
            letter-spacing: 0.48px;
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: scaleX(0);

            background: $color-base;

            transition: transform 0.25s ease-in-out;
        }

        span {
            position: relative;
            z-index: 1;
            transition: color 0.25s ease-in-out;
        }

        &:hover {
            text-decoration: none;

            span {
                color: $color-text;
            }

            &:after {
                transform: scaleX(1);
            }
        }

        &:focus {
            text-decoration: none;
        }

        &:active {
            opacity: 0.9;
        }

        &.-xs {
            height: 40px;

            line-height: 42px;

            @media (min-width: $screen-sm-min) {
                font-size: 14px;
                letter-spacing: 0.37px;
            }
        }

        &.-xl {
            padding: 0 28px;

            font-size: 24px;
            letter-spacing: 0.64px;
            font-weight: 700;
            font-style: italic;
            text-transform: uppercase;
        }

        &.-inverse {
            background: $color-primary;
        }

        &.-white {
            background: $color-base;
            color: $color-text;

            &:after {
                background: $color-text;

                @media (min-width: $screen-sm-min) {
                    background: $color-primary;
                }
            }

            &:hover {
                span {
                    color: $color-base;
                }
            }
        }

        &.-transparent {
            background: none;
            padding: 0 33px;
        }
    }
}
