.ysa-footer {
    $root: &;

    position: relative;
    color: $color-base;
    background: $color-text;

    &-container {
        padding: 0 20px;

        @media (min-width: $screen-sm-min) {
            padding: 0 30px;
        }

        @media (min-width: $screen-lg-min) {
            padding: 0 50px;
        }

        @media (min-width: $screen-xl-min) {
            padding: 0 60px;
        }
    }

    &-grid {
        padding: 27px 0;
        width: 100%;
        text-align: center;

        @media (min-width: $screen-sm-min) {
            padding: 0;
            display: table;
            height: 79px;
            text-align: left;
        }

        &-left {
            @media (min-width: $screen-sm-min) {
                display: table-cell;
                vertical-align: middle;
            }
        }

        &-right {
            padding: 15px 0 0 0;

            @media (min-width: $screen-sm-min) {
                display: table-cell;
                padding: 0;
                vertical-align: middle;
                text-align: right;
            }
        }
    }

    &-dev {
        transition: all 0.2s;

        &-text {
            display: block;
            margin: 0 0 10px 0;

            font-family: $font-family-secondary;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 1.8px;
            text-transform: uppercase;
            vertical-align: middle;

            @media (min-width: $screen-sm-min) {
                display: inline-block;
                margin: 0;
            }
        }

        &-logo {
            @media (min-width: $screen-sm-min) {
                display: inline-block;
                vertical-align: top;

                padding: 0 0 0 12px;
            }

            @media (min-width: $screen-lg-min) {
                padding: 0 0 0 22px;
            }
        }

        &:hover,
        &:focus {
            opacity: 0.8;
            text-decoration: none;
        }
    }

    &-social {
        &-item {
            $this: &;
            display: inline-block;
            margin: 0 20px;

            font-family: $font-family-secondary;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 1.8px;
            text-transform: uppercase;
            vertical-align: middle;

            transition: all 0.2s;

            @media (min-width: $screen-lg-min) {
                margin: 0 27px;
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &-icon {
                display: inline-block;
                vertical-align: middle;
            }

            &-text {
                position: relative;
                display: none;

                @media (min-width: $screen-md-min) {
                    display: inline-block;
                    padding: 0 0 0 17px;
                    vertical-align: middle;
                }
            }

            &:hover,
            &:focus {
                opacity: 0.8;
                text-decoration: none;
            }
        }
    }

    &.-inverse {
        flex: 0 0 auto;
    }
}
