.ysa-form {
    $root: &;

    &-group {
        margin: 0 0 30px 0;
    }

    &-submit {
        margin: 20px 0 0 0;

        button {
            width: 100%;
        }
    }

    &-grid {
        @media (min-width: $screen-sm-min) {
            display: flex;
        }

        &-col {
            @media (min-width: $screen-sm-min) {
                flex: 1 0 50%;
                padding: 0 10px;
            }

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    &-input {
        margin: 0;
        padding: 13px 0;
        width: 100%;

        color: $color-text;
        background: none;
        border: 0;
        border-bottom: 2px rgba($color-text, 0.2) solid;
        border-radius: 0;
        outline: none;

        font-family: $font-family-secondary;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.34px;
        line-height: 1;

        transition: all 0.2s;

        &:hover {
            border-bottom-color: rgba($color-text, 0.5);
        }

        &:focus {
            border-bottom-color: $color-text;
        }

        &:invalid {
            box-shadow: none;
            outline: 0;
        }

        &.-inverse {
            color: $color-base;
            border-bottom-color: rgba($color-base, 0.2);

            &::-webkit-input-placeholder {
                color: rgba($color-base, 0.5);
            }
            &::-moz-placeholder {
                color: rgba($color-base, 0.5);
            }
            &:-moz-placeholder {
                color: rgba($color-base, 0.5);
            }
            &:-ms-input-placeholder {
                color: rgba($color-base, 0.5);
            }

            &:hover {
                border-bottom-color: rgba($color-base, 0.5);
            }

            &:focus {
                border-bottom-color: $color-base;
            }
        }
    }

    &-agreement {
        margin: 20px 0 0 0;

        color: #84abf9;
        font-size: 12px;
        letter-spacing: 0.23px;
        line-height: 22px;

        a {
            color: $color-base;
            text-decoration: underline;

            &:hover,
            &:focus {
                color: $color-base;
                text-decoration: none;
            }
        }
    }
}
