.ysa-intro {
    $root: &;

    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &-wrap {
        width: 100%;
        height: 100%;
    }

    &-fill {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: $color-primary;

        @media (min-width: $screen-md-min) {
            right: 50%;
        }
    }

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;

        @media (min-width: $screen-sm-min) {
            background: $color-secondary;
            left: 50%;
            width: 50%;
        }

        @media (min-width: $screen-md-min) {
            display: none;
        }

        &-img {
            width: 100%;
            height: 100%;

            opacity: 0.2;
            background-repeat: no-repeat;
            background-size: auto 370px;
            background-position: 85% 10px;

            @media (min-height: 460px) {
                background-position: 85% 116px;
            }

            @supports (mix-blend-mode: screen) {
                opacity: 1;
                mix-blend-mode: screen;
                filter: brightness(1.3);
            }

            @media (min-width: $screen-sm-min) {
                background-position: center center;
            }
        }
    }

    &-container {
        padding: 0 20px;

        @media (min-width: $screen-sm-min) {
            padding: 0 43px;
        }

        @media (min-width: $screen-md-min) {
            padding: 0 37px;
        }

        @media (min-width: $screen-lg-min) {
            padding: 0 67px;
        }
    }

    &-body {
        position: absolute;
        display: table;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: 1;

        @media (min-width: $screen-sm-min) {
            width: 50%;
        }

        &-inner {
            display: table-cell;
            padding: 80px 0 0 0;
            vertical-align: top;

            @media (min-height: 460px) {
                padding: 150px 0 0 0;
            }

            @media (min-width: $screen-sm-min) {
                padding: 0;
                vertical-align: middle;
            }

            @media (min-width: $screen-md-min) {
                padding: 0 0 100px 0;
            }
        }
    }

    &-header {
        h4 {
            padding: 0;
            margin: 0;

            font-size: 20px;
            font-weight: bold;
            font-style: italic;
            letter-spacing: -0.09px;
            text-transform: uppercase;

            backface-visibility: hidden;

            @media (min-width: $screen-sm-min) {
                font-size: 24px;
                letter-spacing: -0.11px;
            }

            @media (min-width: $screen-xl-min) {
                font-size: 28px;
                letter-spacing: -0.13px;
            }
        }

        h2 {
            padding: 0;
            margin: 0;

            color: $color-base;

            font-size: 60px;
            font-weight: bold;
            font-style: italic;
            letter-spacing: -0.27px;
            text-transform: uppercase;

            backface-visibility: hidden;

            @media (min-width: $screen-sm-min) {
                font-size: 70px;
                letter-spacing: -0.32px;
            }

            @media (min-width: $screen-md-min) {
                font-size: 90px;
                letter-spacing: -0.41px;
            }
        }
    }

    &-description {
        margin: 7px 0 0 0;

        color: $color-base;

        font-family: $font-family-secondary;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.3px;
        line-height: 22px;

        backface-visibility: hidden;

        @media (min-height: 460px) {
            max-width: 273px;
        }

        @media (min-width: $screen-sm-min) {
            max-width: 349px;
        }

        @media (min-width: $screen-md-min) {
            max-width: 385px;
            min-height: 200px;

            font-size: 20px;
            letter-spacing: 0.38px;
            line-height: 28px;
        }

        @media (min-width: $screen-lg-min) {
            max-width: 451px;
            min-height: 190px;
            margin-left: 37px;
        }

        @media (min-width: $screen-xl-min) {
            max-width: 550px;
            margin-top: 15px;

            font-size: 23px;
            letter-spacing: 0.43px;
            line-height: 33px;
        }
    }

    &-num {
        position: absolute;
        right: 20px;
        bottom: -28px;

        color: $color-base;

        font-size: 110px;
        font-weight: bold;
        letter-spacing: -3.95px;

        //backface-visibility:hidden;

        @media (min-width: $screen-md-min) {
            right: 60px;
            bottom: -48px;

            font-size: 190px;
            letter-spacing: -6.82px;
        }

        @media (min-width: $screen-xl-min) {
            bottom: -60px;

            font-size: 240px;
            letter-spacing: -8.62px;
        }
    }

    &-open {
        margin: 27px 0 0 0;

        @media (min-width: $screen-md-min) {
            margin: 0;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);
        }
    }

    &.-even {
        #{$root} {
            &-fill {
                @media (max-width: $screen-sm-max) {
                    background: $color-secondary;
                }
            }

            &-header {
                @media (max-width: $screen-sm-max) {
                    color: $color-primary;
                }
            }
        }
    }
}
