.ysa-modal {
    display: inline;

    &_full {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 110;
        overflow: hidden;
        padding: 0 !important;

        pointer-events: none;

        &-dialog {
            position: relative;
            height: 100%;
            width: 100%;
            overflow: hidden;
            overflow-y: auto;
            //-webkit-overflow-scrolling: touch;
            z-index: 1;
            transform: scale(0.8);
            transform-origin: center center;

            //background:$color-base;
            pointer-events: auto;

            opacity: 0;
            transition: opacity 0.5s, transform 0.3s;
        }

        &-close {
            position: absolute;
            pointer-events: auto;
            z-index: 200;
            top: 15px;
            right: 15px;
            width: 43px;
            height: 43px;
            line-height: 41px;
            font-size: 10px;

            color: $color-base;
            border-radius: 50%;
            border: 1px rgba($color-text, 0.2) solid;
            text-align: center;

            transition: all 0.2s;

            @media (min-width: $screen-md-min) {
                top: 50px;
                right: 50px;
                width: 63px;
                height: 63px;
                line-height: 61px;
                font-size: 14px;
            }

            a {
                display: block;
                height: 100%;
                width: 100%;

                svg {
                    transition: all 0.3s;
                    transform-origin: center center;
                    vertical-align: middle;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    transform: scale(0);

                    border-radius: 50%;
                    background: $color-text;

                    transition: all 0.3s;
                }

                &:hover {
                    svg {
                        @media (min-width: $screen-md-min) {
                            transform: scale(0.8);
                        }
                    }

                    &:after {
                        transform: scale(1);
                    }
                }
            }
        }

        &.in {
            display: block;
        }

        &.in &-dialog {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.modal-backdrop {
    display: none;
}
