.ysa-regbox {
    $root: &;

    min-height: 100%;

    color: $color-base;
    background: $color-primary;

    @media (min-width: $screen-sm-min) {
        height: 100%;
        width: 100%;
    }

    &-grid {
        display: table;
        height: 100%;
        width: 100%;

        &-col {
            display: table-cell;
            padding: 85px 0;
            vertical-align: top;

            @media (min-width: $screen-sm-min) {
                padding: 0;
                vertical-align: middle;
            }
        }
    }

    &-container {
        padding: 0 20px;
        max-width: 460px;
        margin: 0 auto;
    }

    &-form {
        text-align: left;
    }

    &-header {
        margin: 0 0 13px 0;
        color: $color-base;

        @media (min-width: $screen-sm-min) {
            margin: 0 0 24px 0;
        }

        @media (min-width: $screen-xl-min) {
            margin: 0 0 54px 0;
        }

        h1,
        h2,
        h3 {
            margin: 0;
            padding: 0;

            font-size: 45px;
            font-weight: bold;
            font-style: italic;
            letter-spacing: -0.2px;
            text-transform: uppercase;

            @media (min-width: $screen-md-min) {
                font-size: 70px;
                letter-spacing: -0.32px;
            }
        }

        &.-fluid {
            margin: 0;
        }
    }

    &-subheader {
        font-size: 12px;
        letter-spacing: 0.23px;
        line-height: 22px;

        color: #84abf9;
    }

    &-notice {
        text-align: center;

        &-text {
            padding: 7px 0 40px 0;

            font-family: $font-family-secondary;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 0.3px;
            line-height: 22px;

            @media (min-width: $screen-md-min) {
                padding: 16px 0 40px 0;

                font-size: 23px;
                letter-spacing: 0.43px;
                line-height: 33px;
            }
        }
    }
}
