.ysa-slider {
    $root: &;

    position: relative;
    height: 100%;
    width: 100%;

    &-nav {
        display: none;

        @media (min-width: $screen-md-min) {
            display: block;
            position: absolute;
            left: 0;
            bottom: 50px;
            z-index: 10;
        }

        &-item {
            position: relative;
            display: block;
            padding: 5px 0;

            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0.37px;
            text-transform: uppercase;

            transition: all 0.2s;

            @media (min-width: $screen-md-min) {
                padding: 10px 0;
            }

            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                margin: -1px 0 0 0;
                height: 1px;
                width: 47px;
                transform: scaleX(0.46);
                transform-origin: right center;

                background: currentColor;

                transition: transform 0.4s;
            }

            span {
                padding: 0 0 0 70px;
            }

            &:hover,
            &:focus {
                color: $color-base;
                text-decoration: none;

                transform: translateX(15px);
            }

            &.-active {
                color: $color-base;
                transform: translateX(0px);

                &:before {
                    transform: scaleX(1);
                }
            }
        }
    }

    &-bg {
        position: absolute;
        top: 0;
        left: 50%;
        right: 0;
        bottom: 0;
        width: 50%;
        height: 100%;
        overflow: hidden;
    }

    &-items {
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    &-item {
        display: none;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        &.-in,
        &.-out {
            display: block;
        }
    }

    &.-finished {
        #{$root} {
            &-item {
                &.-in {
                    z-index: 11;
                }
            }
        }
    }
}
