.ysa-terms {
    margin: 0 90px;

    font-family: $font-family-secondary;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 36px;

    p {
        margin: 0;
        padding: 0;

        &:lang(en) {
            padding: 15px 0;
        }
    }

    h2 {
        margin: 0;
        padding: 0;

        font-family: $font-family-secondary;
        font-size: 24px;
        font-weight: 500;

        &:lang(en) {
            padding: 0 0 15px 0;
        }
    }

    &-part {
        margin: 0 0 90px 0;
    }
}
