/* Main Colors */
$color-base: #fff;
//$color-graybase:#171717;

$color-primary: #0a57f4;
$color-secondary: #00092b;

//$color-fill:#F4F6F8;
//$color-smooth:#B2B2B2;
//$color-muted:#ECF0F3;
//$color-disabled:#8C8C8C;

$color-error: #eb4242;
$color-error-secondary: #f33126;
$color-info: #01d7fd;
$color-success: #51c67d;
$color-warning: #ff9f4d;
$color-danger: $color-error;

$color-bg: $color-base;
$color-text: #000;
$color-link: inherit;
$color-link-hover: inherit;

/* Fonts */
$font-family: "Roboto Condensed", sans-serif;
$font-family-secondary: "Roboto", sans-serif;
$font-size: 14px;
$font-weight: normal;
$letter-spacing: normal;
$line-height: normal;

/* Screen sizes */
$screen-xs: 375px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1280px;
$screen-xl: 1600px;

$screen-xl-min: $screen-xl;
$screen-md-min: $screen-md;
$screen-lg-min: $screen-lg;
$screen-lg-max: ($screen-xl-min - 1);

$screen-sm-min: $screen-sm;
$screen-sm-max: ($screen-md-min - 1);
